<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Interview - Test</title>
</head>
<body>
    <div id="app" class="app">
        <div class="left-side">
            <div class="left-side-content">
                <h1>Hello, <b>Lumbex</b></h1>
                <p>Welcome to your dashboard, kindly sort through the users</p>

                <div class="display">
                    <h4>Show users</h4>
                    <div>
                        <button v-on:click="fetchData()" style="background:#84573B"><i class="fa fa-users fa-2x" style="padding-right: .5em;"></i> All Users</button>
                        <button v-on:click="onlyGender('female')" style="background:#D25288"><i class="fa fa-venus fa-2x" style="padding-right: .5em;"></i> Female Users</button>
                        <button v-on:click="onlyGender('male')" style="background:#335AA3"><i class="fa fa-mars fa-2x" style="padding-right: .5em;"></i> Male Users</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="right-side">
            <div class="right-side-content">
                <div>
                    <h2>All Users</h2>
                    <div class="search">
                        <div class="search-form">
                            <i class="fa fa-search"></i>
                            <!-- <input class="field" placeholder="Find a User" type="text"> -->
                            <input class="field" placeholder="Find a User" type="text" v-model="searchValue" @keyup='search(searchValue)'>
                        </div>
                        <div class="toggle">
                            <h5>show country</h5>
                            <label class="switch">
                                <input type="checkbox" v-model="toggle">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="user-box" v-for="user in page">
                    <div class="image"><img :src="user.picture.thumbnail" alt=""></div>
                    <div class="user-box-content">
                        <h4>{{ user.name.first }} {{ user.name.last }} </h4>
                        <p v-if="toggle" class="country"> {{ user.location.country }} </p>
                        <p style="font-style: italic;" class="UserAddress">{{ user.location.street.number }}
                             {{ user.location.street.name }} {{ user.location.city }} {{ user.location.state }}</p>
                        <div class="contact-info">
                            <p><i class="fa fa-envelope-square"></i> {{ user.email }}</p>
                            <p><i class="fa fa-phone"></i> {{ user.phone }}</p>
                        </div>
                    </div>
                </div>

                <div class="page-button" v-if="maxPages">
                    <button @click="previous()"><i class="fa fa-arrow-left fa-1x" aria-hidden="true"></i></button>
                    <button @click="next()"><i class="fa fa-arrow-right fa-1x" aria-hidden="true"></i></button>
                </div>


            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://use.fontawesome.com/feb8a0e0f5.js"></script>
    <script src="main.js"></script>
</body>
</html>