@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
body{
    color: #0B2856;
    font-family: Rubik;
    line-height: 14px;
}
img{
    width: 100%;
}

button{
    width: 100%;
    height: 4em;
    color: white;
    font-size: 16px;
    text-align: left;
    padding-left: 1em;
    border: none;
    border-radius: 10px;
    margin-bottom: .5em;
}
/* TYPOGRAPHY */

/* Layout */
/* left side of screen */
.app{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 98%;
    margin: 0 auto;
}
.left-side-content{
    margin-top: 3em;
}
.display{
    margin-top: 2em;
}

/* right side of screen */
.right-side{
    background: #DEE8F1;
    height: 100vh;
    width: 100%;
    border-radius: 1em;
}
.right-side-content{
    width: 90%;
    margin: 3em auto;
    max-height: 85vh;
}

/* search */
.search{
    display: flex;
    justify-content: space-between;
}
.search-form{
    width: 60%;
    margin-left: -20px;
}
.toggle{
    width: 40%;
}
.search-form i {
    position: relative;
    left: 30px;
    font-size: 14px;
    color: rgb(105, 105, 105);
}
.search-form .field {
    margin: 0 auto;
    width: 50%;
    height: 3.5em;
    padding: 0 20px;
    font-size: .8rem;
    border: none;
    border-radius: 5px;
    padding-left: 40px;
    background: #F7F8FD;
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider { 
    position: absolute;
    cursor: pointer;
    width: 43px;
    height: 20px;
    top: 17%;
    left: 91%;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
   
.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    /* left: 4px; */
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #335AA3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #335AA3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
  border-radius: 50%;
  }
/* end of search */


/* user information */
.user-box{
    display: flex;
    background: #FFFFFF;
    color: #252A3E;
    box-shadow: 0px 0px 44px rgba(37, 42, 62, 0.08);
    border-radius: 8px;
    margin-bottom: .7em;
}
.user-box p{
    color:rgba(37, 42, 62, 0.5);
}
.user-box .image{
    width: 25%;
}
.user-box img{
    margin-top: 1em;
    margin-left: .75em;
    width: 60px;
    height: 60px;
    border: 2px solid #335AA3;
    border-radius: 50%;
}
.user-box-content{  
    width: 70%;
}
.user-box .contact-info{
    display: flex;
    flex-direction: column;
    font-style: italic;
    font-size: 14px;
}
.user-box .contact-info p{
    margin-top: -.5em;
}
.UserAddress{
    margin-top: -.5em;
    font-size: 14px;
}
.page-button{
    text-align: right;
    margin-left: 10em;
}
.page-button button{
    width: 10%;
    height: 15%;
    margin-top: .6em;
    padding: .3em;
    color: white;
    background-color: #335AA3;
    text-align: center;
}


/* end of user information */


/* Media Queries */

@media (min-width: 800px) {
    .app {
      flex-direction: row;
    }
    .left-side{
        width: 50%;
    }
    .left-side-content{
        width: 80%;
        margin: 0 auto;
        margin-top: 20%;
    }
    .display{
        margin-top: 4em;
    }
    .right-side{
        height: 95vh;
        width: 50%;
        border-radius: 1em;
    }
    .search-form{
        width: 70%;
        margin-left: -20px;
    }
    .toggle{
        width: 30%;
    }
    .search-form .field {
        width: 70%;
    }
    .user-box{
        justify-content: space-between;
    }
    .user-box .image{
        width: 18%;
    }
    .user-box img{
        width: 65px;
        height: 65px;
        border: 1px solid blue;
        border-radius: 50%;
    }
    .user-box-content{
        width: 80%;
    }
    .user-box-content h4{
        margin: 1em 0;
    }
    .user-box .contact-info{
        display: flex;
        flex-direction: row;
        font-style: italic;
        font-size: 14px;
    }
    .user-box .contact-info p{
        margin-right: 1em;
    }
}